<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="uploaderConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <uploaderConsole.Properties.Settings>
            <setting name="uploaderConsole_ru_e3w_testphpservice_hellotesting"
                serializeAs="String">
                <value>http://testphpservice.e3w.ru/index.php</value>
            </setting>
        </uploaderConsole.Properties.Settings>
    </applicationSettings>
</configuration>
